@font-face {
  font-family: "Fraunces";
  src: url(../fonts/fraunces/Fraunces-VariableFont.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
